@font-face {
  font-family: "Farmacoop";
  src: url(../fonts/CircularStd-Book_0.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Farmacoop";
  src: url(../fonts/CircularStd-Medium_0.otf);
  font-weight: 500;
}

@font-face {
  font-family: "Farmacoop";
  src: url(../fonts/CircularStd-Bold_0.otf);
  font-weight: 700;
}

@font-face {
  font-family: "Farmacoop";
  src: url(../fonts/CircularStd-Black_0.otf);
  font-weight: 800;
}